.search-results-container {
  position: relative;
  background-color: rgb(248, 250, 225);
  max-width: 120rem;
  padding: 1.5rem;
  margin: 0 1.5rem 8rem 1.5rem;
  margin: 0 auto;
  padding: 2rem;
  background: url("../../../public/small-hexagons.jpg");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 249, 221, 0.82);
    top: 0;
    left: 0;
  }
}

.listings-title-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  z-index: 30;
}

.listings-title {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 0.9rem;
  white-space: pre-wrap;
}

.listings-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;
  min-height: 25rem;
  margin-top: 2rem;
}

.no-listings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: calc(100vh - 4rem);
  padding: 2.5rem;
}

.no-listings-found {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.4rem;
  color: $color-text;
  text-align: center;
}

.no-listings-link {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-text;
  background-color: $color-primary;
  border: 3px solid $color-highlight;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
  padding: 0.75rem 1.5rem;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  margin-top: 2rem;

  &:focus {
    outline: none;
  }
  
  &:visited {
    color: $color-text;
    background-color: $color-primary;
    border: 3px solid $color-highlight;
  }

  &:hover {
    color: $color-text;
    background-color: $color-highlight;
    border: 3px solid $color-primary;
    text-decoration: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
  }
}

.btn-scroll {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-text;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &:hover {
    color: $color-tertiary;
    transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.listing-container {
  position: relative;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 27rem;
  color: #222427;
  background-color: rgb(253, 253, 252);
  background: url("../../../public/watercolorbg.jpg");
  background-size: cover;
  background-position: center 50%;
  border: 2px solid rgb(202, 180, 246);
  border-radius: 0.5rem;
  box-shadow:
    rgba(112, 65, 207, 0.27) 1px 1px,
    rgba(112, 65, 207, 0.23) 4px 4px,
    rgba(112, 65, 207, 0.18) 8px 8px,
    rgba(112, 65, 207, 0.13) 12px 12px;
  transition: 300ms ease all;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: #222427;
    text-decoration: none;
    border: 2px solid rgba(247, 221, 22, 0.8);
    box-shadow:
    rgba(247, 221, 22, 0.27) 0 0 1px 1px,
    rgba(247, 221, 22, 0.23) 0 0 4px 4px,
    rgba(247, 221, 22, 0.18) 0 0 8px 8px;
    transition: 300ms ease all;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.81);
    top: 0;
    left: 0;
    z-index: -1;
  }

  // the 2nd of each 3 listings
  &:nth-child(3n+2) {
    background-position: center 10%;

    &::after {
      background-color: rgba(254, 255, 240, 0.85);
    }
  }

  // the third of each 3 listings
  &:nth-child(3n+3) {
    background-position: center 100%;
    
    &::after {
      background-color: rgba(251, 245, 252, 0.9);
    }
  }
}

.listing-save-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #292323d8;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #3c3c3c;
  z-index: 10;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &:hover {
    background-color: #292323e4;
    .heart-icon {
      color: #fe1239;
      transition: all ease 200ms;
      -webkit-transition: all ease 200ms;
    }
  }
}

.heart-icon {
  font-size: 1.7rem;
  font-weight: 400;
  color: #fc5d78;
  z-index: 10;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &.saved {
    font-weight: 900;
    animation: fill-heart 0.45s linear;
  }
}

.heart-dot {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    position: absolute;
  }
 
  &.saved {
    animation: move-dot 0.8s ease-out forwards 0.3s;
  }
}

.no-images-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 17rem;
}

.listing-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  flex: 1;
  width: 100%;
  min-height: 14rem;
  overflow: hidden;
  padding: 0.75rem;
}

.listing-image {
  width: 100%;
  height: calc(100% - 2rem);
  min-height: 10rem;
  object-fit: cover;
  margin: 0 auto;
  background-color: white;
  // border: 2px solid #ffffff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.img-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.4rem;
  color: $color-tertiary;
  height: 100%;
  width: 1.5rem;
  top: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  overflow: hidden;
  
  &:hover {
    color: $color-primary;
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.img-arrow-left {
  left: 0;

  span {
    transform: rotateY(180deg);
  }
}

.img-arrow-right {
  right: 0;
}

.listing-image-control-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 0.2rem;
  padding: 0.5rem 1.6rem;
}

.listing-image-circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.25rem;
}

.listing-image-circle {
  color: $color-tertiary;
  background-color: $color-primary;
  width: 0.7rem;
  height: 0.7rem;
  transition: 200ms ease all;
  -webkit-transition: 200ms ease all;
  border: 2px solid $color-tertiary;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding: 0 0.1rem;

  &:hover {
    background-color: $color-tertiary;
    transition: 200ms ease all;
    -webkit-transition: 200ms ease all;
  }
}

.listing-image-current {
  width: 1.2rem;
  height: 1.2rem;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  margin-top: auto;
}

.listing-row {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  gap: 0.5rem;
}

.listing-bedrooms,
.listing-rooms,
.listing-house-size,
.listing-plot-size,
.listing-location,
.listing-ref {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.listing-type {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0.1rem;
}

.listing-price {
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 0 0 auto;
}

.divider {
  padding-left: 0.5rem;
}

.listing-icons-container {
  gap: 0.5rem 1.25rem;
}

.listing-icon-container {
  display: flex;
  gap: 0.5rem;
}

.listing-icon {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain; 
}

.listing-location {
  color: rgb(98, 98, 98);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.listing-agent-container {
  justify-content: space-between;
}

.listing-agent {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.listing-ref {
  font-weight: 500;
}

.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;

  .pagination {
    margin: 0;
  }

  a {
    user-select: none;
    &:focus {
      box-shadow: none;
    }
  }

  .active .page-link {
    font-weight: 500;
    color: #222427;
    border-color: transparent;
    background-color: rgb(229, 227, 246);
  }
}

.saved-listings-page-container {
  background-color: $color-secondary;
}


// individual listing page
.listing-detail-page-container {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 253, 212);
  padding-bottom: 1.5rem;
  background: url("../../../public/watercolorbg.jpg");
  background-size: cover;
  
  &::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 255, 255, 0.78);
    top: 0;
    left: 0;
  }
}

.listing-detail-img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 110rem;
  width: 100%;
  height: calc(100vh - 4rem); // minus navbar height
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin: 0 auto;
  z-index: 2;

  .listing-image-control-bar {
    position: unset;
  }

  .img-arrow {
    width: unset;
    font-size: 2rem;
    height: 100%;
    top: 0;
    padding-bottom: 2rem;

    &:hover {
      color: $color-text;
    }
  }
}

.listing-detail-page-img {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.15rem;
}

.listing-detail-info-container {
  position: relative;
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url("../../../public/1.jpg");
  background-size: cover;
  border-radius: 1rem;
  border: 5px solid $color-primary;
  margin: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  z-index: 2;

  * {
    z-index: 2;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 200, 0.92);
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.listing-title-container {
  display: flex;
  justify-content: space-between;
}

.listing-detail-title,
.listing-detail-price {
  font-size: 1.8rem;
}

.listing-detail-town {
  text-transform: capitalize;
}

.listing-detail-agent {
  text-align: center;
  margin: 0;
}

.listing-link-container {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  position: relative;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  padding-top: 0.25rem;
  margin: -0.5rem auto 0 auto;

  &:hover .listing-link {
    width: 100%;
  }
}

.listing-link {
  position: absolute;
  display: inline-block;
  color: $color-tertiary;
  width: 0;
  white-space: pre;
  overflow: hidden;
  transition: width 400ms;
  text-decoration: underline;
}

.listing-link-default {
  color: #222427;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 0;

  &:hover {
    color: #222427;
    text-decoration: none;
  }
}

.listing-link-hover {
  color: $color-tertiary;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 0;

  &:hover {
    color: $color-tertiary;
    text-decoration: none;
  }
}