*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #212529;
  background-color: $color-secondary;
}

i {
  font-family: unset;
}

label { 
  margin: 0;
}

.page-container {
  position: relative;
  margin: 0 auto;
}
