// colors
$color-primary: rgb(247, 221, 22);
$color-primary-highlight: rgb(254, 254, 176);

$color-secondary: rgb(200, 239, 255);
$color-secondary-highlight: rgb(167, 203, 215);

$color-tertiary: rgb(112, 65, 207);

$color-text: rgb(52, 49, 49);

$white: rgb(241, 240, 240);

// box-shadow
$focus-shadow: 0 0 3px 1px #8baeb3;
$hover-shadow: 0 0 1px 0 #ced0e4;

