@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'AYearWithoutRain';
  src: url("/assets/fonts/AYearWithoutRain.ttf") format('truetype');
}

@font-face {
  font-family: 'KGYouWontBringMeDown';
  src: url("/assets/fonts/KGYouWontBringMeDown.ttf") format('truetype');
}

@font-face {
  font-family: "ChelseaMarket";
  src: url("/assets/fonts/ChelseaMarket.ttf") format('truetype');
}

@font-face {
  font-family: 'FabfeltScript';
  src: url("/assets/fonts/FabfeltScript.otf") format('opentype');
}

@font-face {
  font-family: 'mathilde';
  src: url("/assets/fonts/mathilde.otf") format('truetype');
}

@import "variables";

@import "reset";

// external libraries
@import "react-widgets/scss/styles.scss";
@import "react-widgets-dropdown.scss";

@import "animations";
@import "buttons";
@import "footer";
@import "loading";
@import "navbar";
@import "sorting-dropdown";
@import "tooltips";

// pages
@import "contact";
@import "error";
@import "homepage";
@import "search-form";
@import "listings";

// media queries
@import "media";

.hide {
  display: none;
}
