.btn {
  display: block;
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;

  &:hover {
    text-decoration: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
  }
}

.btn-hero {
  width: 23rem;
  color: $color-text;
  background-color: $color-primary;
  border: 3px solid $color-primary-highlight;
  padding: 0.5rem 0;
  margin-top: 2rem;

  &:visited {
    color: $color-text;
    background-color: $color-primary;
    border: 3px solid $color-primary-highlight;
  }

  &:hover {
    color: $color-text;
    background-color: $color-primary-highlight;
    border: 3px solid $color-primary;
  }
}

.btn-undo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: $color-text;
  background-color: $color-primary-highlight;
  border: 3px solid $color-primary;
  padding: 0.5rem 1rem;

  &:visited {
    color: $color-text;
    background-color: $color-primary-highlight;
    border: 3px solid $color-primary;
  }

  &:hover {
    color: $color-text;
    background-color: $color-primary;
    border: 3px solid $color-primary-highlight;
  }
}

.btn-removed-listing {
  font-size: 1.5rem;
  gap: 1rem;

  i {
    font-size: 1.25rem;
  }
}

.btn-advanced-search {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  display: flex;
  align-items: center;
  gap: 0 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: $color-text;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin: auto 0 0 auto;
  padding-bottom: 1.15rem;

  &:hover {
    color: black;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-advanced-search-icon {
  font-size: 0.9rem;
}

.btn-search {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  position: absolute;
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  width: 12rem;
  height: 4rem;
  color: $color-text;
  background-color: $color-primary;
  border: 3px solid $color-primary-highlight;
  border-radius: 0.5rem;
  outline: none;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  padding: 0 0.5rem;
  margin: 0 auto;
  z-index: 45;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  
  &:focus {
    outline: none;
  }

  &:active,
  &:hover {
    color: $color-text;
    background-color: $color-primary-highlight;
    border: 3px solid $color-primary;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
  }
}

.btn-contact-submit {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  width: 23rem;
  color: $color-text;
  background-color: $color-primary;
  border: 3px solid $color-primary;
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
  padding: 0.5rem 0;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;

  &:active,
  &:focus {
    outline: none;
  }

  &:visited {
    color: $color-text;
    background-color: $color-primary;
    border: 3px solid $color-primary-highlight;
  }

  &:hover {
    color: $color-text;
    background-color: $color-primary-highlight;
    border: 3px solid $color-primary;
    text-decoration: none;
    transition: 300ms ease all;
    -webkit-transition: 300ms ease all;
  }
}

.btn-scroll {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-text;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &:hover {
    color: $color-tertiary;
    transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn-x {
  height: fit-content;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  margin-top: -0.5rem;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &:hover {
    color: $color-tertiary;
    transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
  }
}
