.full-screen-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $color-text;
  top: 0;
  left: 0;
  z-index: 999;

  .slick-slider,
  .slick-list {
    min-height: 100vh !important;
    max-height: 100vh !important;
  }

  .slick-arrow {
    display: none !important;
  }

  // center the image
  .slick-slide {
    div {
      display: flex;
      align-items: center;
    }
  }

  .listing-detail-image {
    max-height: 100vh;
    width: unset;
    max-width: 100%;
    border-radius: 0;
    margin: 0 auto;
  }
}

.full-screen-modal-x {
  position: absolute;
  font-size: 2rem;
  color: $white;
  background-color: $color-text;
  border-bottom-left-radius: 0.5rem;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 999;
}
