.sorting-dropdown-container {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  border-top: 3px solid $color-primary;
  padding: 0.4rem 0;
  margin-left: auto;
  cursor: pointer;
  z-index: 200;
  transition: 0.25s ease-in-out all;

  &:hover {
    border-color: $color-secondary;
  }
}

.sorting-dropdown {
  position: absolute;
  background-color: $color-primary-highlight;
  width: 100%;
  border: 3px solid $color-primary;
  border-radius: 0.5rem;
  top: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 0.25s linear;
  padding: 0;
  z-index: 200;
}

.sorting-dropdown-item {
  display: flex;
  gap: 0.4rem;
  list-style: none;
  padding: 0.5rem 0.9rem;
  transition: 0.25s ease all;
  -webkit-transition: 0.25s ease all;
  z-index: 200;

  &:hover {
    background-color: $color-primary;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
  }
}

.sorting-dropdown-container.open {
  border-top: 3px solid $color-secondary;

  .sorting-dropdown {
    transform: rotateX(0deg);
  }
}

.sorting-dropdown-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  z-index: 105;
  transition: 0.25s all;
  user-select: none;
  -webkit-user-select: none;
}

.dropdown-down-arrow {
  transform: rotate(40deg);
}

.dropdown-up-arrow {
  transform: rotate(-40deg);
}
