.tooltip-text {
  position: absolute;
  font-size: 0.95rem;
  background-color: $color-text;
  color: $white;
  width: 10.5rem;
  height: fit-content;
  text-align: center;
  border-radius: 6px;
  top: 0;
  right: 2.75rem;
  bottom: 100%;
  letter-spacing: 0.02rem;
  padding: 0.5rem;
  opacity: 0;
  z-index: 1;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  pointer-events: none;
}

.listing-hide-container {
  &:hover {
    .tooltip-text {
      opacity: 1;
      transition: all 300ms;
      -webkit-transition: all 300ms;
    }
  }
}
