.error-page-container {
  width: 100%;
  height: calc(100vh - 4rem - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.error-bee-route-container {
  width: 24rem;
  height: 24rem;
  margin: 0;
}

.error-bee-border {
  width: 24rem;
  height: 24rem;
  animation: 9s linear infinite bee-trail;
  -webkit-animation: 9s linear infinite bee-trail;
}

.error-bee {
  animation: rotate-bee 9s linear infinite;
  -webkit-animation: rotate-bee 9s linear infinite;
}

.error-page-title {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.error-page-subtitle {
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
}
