.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background-color: whitesmoke;
  background-color: $color-secondary;
  width: 100%;
  height: 4rem;
  top: 0;
  z-index: 159;
  // overflow: hidden;
}

.navbar-height {
  position: relative;
  width: 100%;
  height: 4rem;
  top: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: $color-text;
  height: 100%;
  margin-right: auto;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.navbar-logo-img {
  position: absolute;
  height: 3.6rem;
  padding: 0.2rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.navbar-logo-text {
  position: relative;
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  font-size: 1.4rem;
  top: 0.15rem;
  left: 2.55rem;
}

.navbar-link {
  position: relative;
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 1.1rem;
  color: $color-text;
  padding: 0.25rem;
  text-decoration: none;
  z-index: inherit;
  transition: 300ms ease all;
  cursor: pointer;
  
  &:hover {
    color: black;
    text-decoration: none;
    transition: 300ms ease all;

    &::before {
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-top: 2px solid rgb(19, 181, 181);
    border-bottom: 2px solid rgb(19, 181, 181);
    opacity: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    z-index: -1;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }

  &.current-page {
    &::before {
      border-top: 2px solid rgb(19, 181, 181);
      border-bottom: 2px solid rgb(19, 181, 181);
      left: 0;
      right: 0;
      opacity: 1;
      transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
    }
  }
}

.navbar-hamburger-container {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.navbar-hamburger {
  color: $color-text;
  font-size: 1.75rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  
  &:hover {
    color: black;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
  }
}

.hamburger-menu-container {
  position: absolute;
  font-family: "ChelseaMarket", "Raleway", sans-serif;
  width: 12rem;
  margin: 0.75rem 0 -0.75rem auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.25s ease-in-out all;
}

.hamburger-menu {
  position: absolute;
  background-color: $color-primary-highlight;
  width: 100%;
  border: 3px solid $color-primary;
  border-radius: 0.5rem;
  top: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
  transition: transform 0.25s linear;
  padding: 0;
  z-index: 60;
}

.hamburger-menu-item {
  display: block;
  color: $color-text;
  padding: 0.5rem 0.9rem;
  transition: 0.25s ease all;
  -webkit-transition: 0.25s ease all;

  &:hover {
    background-color: $color-primary;
    color: black;
    text-decoration: none;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
  }
}

.hamburger-menu-container.open {
  .hamburger-menu {
    transform: rotateX(0deg);
  }
}
