@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

i {
  font-family: unset;
}

body {
  background-color: rgb(255, 251, 240);
  color: rgb(15, 15, 15);
}

.page-container {
  max-width: 80rem;
  padding: 2rem 7.5rem;
  margin: 0 auto 5rem auto;
}

.page-title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.search-criteria-container {
  margin: 2rem auto;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.row-container-slider {
  flex-direction: column;
  gap: 0;
}

.search-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-weight: 500;
}

// remove the flex gap before dividing
.search-field-container-double,
.search-field-container-bedrooms {
  max-width: calc((100% - 4rem) / 3);
}

.choices-container {
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  width: 100%;
  height: 100%;
}

.search-label,
.search-label-choices {
  display: block;
  font-weight: 500;
  width: 100%;
}

.input-container {
  display: flex;
  gap: 0 1rem;
  width: 100%;
  margin-top: 0.5rem;

  .choices {
    width: 100%;
  }

  .choices__list {
    z-index: 5;
  }

  .choices__inner {
    background-color: white;
  }

  .choices__item {
    font-size: 0.9rem;
    text-transform: capitalize;
    z-index: 10;
  }
  
  .choices__input {
    font-size: 1.15rem;
    background-color: white;
    min-width: fit-content;
  }
}

.search-input {
  width: 100%;
  height: 53px;
  background-color: white;
  border: 1px solid rgb(214, 212, 180);
  border-radius: 4px;
  font-size: 1.15rem;
  outline: none;
  padding-left: 0.75rem;
}

.input-choices-loading {
  margin-top: 0.5rem;
}

.unknown-listings-title {
  font-size: 1.25rem;
  text-align: center;
}

.unknown-listings-subtitle {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0 -1.5rem 0;
}

.checkbox-label {
  display: flex;
  cursor: pointer;

  input[type="checkbox"] {
    width: 1.2rem;
    margin-left: 0.75rem;
    accent-color: rgb(67, 208, 168);
    cursor: pointer;
  }
}

.btn-search {
  display: block;
  font-size: 1.25rem;
  background-color: rgb(67, 208, 168);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.75rem 5rem;
  margin: 0 auto;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  
  &:hover {
    background-color: rgb(29, 186, 141);
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.search-radius-slider {
  position: relative;
  display: flex;
  width: 30rem;
  height: 3rem;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: calc(100% * (5 / 6)); // remove width of one 'option'
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(15, 15, 15);
  }
}
  
.input-slider {
  display: none;
  cursor: pointer;

  &:checked {
    + label::before {
      font-weight: 700;
    }
    + label::after {
      border-width: 3px;
      transform: translate(-50%, -50%) scale(0.85);
    }
  
    @for $i from 1 through 5 {
      &:nth-child(#{$i * 2 - 1}) ~ .slider-cirle {
        left: #{($i * 20%) - 10%};
      }
    }
  }
}

.label-slider {
  position: relative;
  flex: 1;
  height: 100%;
  cursor: pointer;

  &::before {
    content: attr(search-radius);
    position: absolute;
    font-size: 1rem;
    left: 50%;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
    padding-top: 0.25rem;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    background-color: white;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(1.15);
    transition: all 0.15s ease-in-out;
  }
}

.slider-cirle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgb(17, 112, 85);
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease-in-out;
  z-index: 2;
}

.input-slider {
  + .label-slider::before {
    transform: translate(-50%, 2.5rem) scale(0.9);
    transition: all 0.15s linear;
  }
}

// listings
.no-listings-found {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}

.listings-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 3rem 0;
}

.listing-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(135, 135, 135, 0.3);
  overflow: hidden;
}

.listing-image-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
}

.listing-image {
  width: 100%;
  object-fit: contain;
}

.img-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.4rem;
  height: 100%;
  width: 25px;
  background-color: rgba(222, 224, 241, 0.7);
  top: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  overflow: hidden;
  
  &:hover {
    width: 35px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.img-arrow-left {
  left: 0;

  span {
    transform: rotate(180deg);
  }
}

.img-arrow-right {
  right: 0;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 1rem;
}

.listing-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;

  h5 {
    font-size: 1rem;
    margin: 0;
  }
}

.divider {
  padding-left: 0.5rem;
}

.listing-icons-container {
  gap: 0.5rem 1.25rem;
}

.listing-icon-container {
  display: flex;
  gap: 0.5rem;
}

.listing-icon {
  width: 20px;
  height: 20px;
  object-fit: contain; 
}

.listing-description-row {
  align-items: flex-start;
  height: 100%;
}

.btn-listing-description-see-more {
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;

  &:hover {
    color: rgb(79, 54, 109);
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.listing-link {
  color: black;
  background-color: rgb(239, 241, 255);
  outline: none;
  font-weight: bold;
  text-decoration: underline;
  border: none;
  text-align: center;
  padding: 0.25rem 0;
  transition: all 200ms;
  -webkit-transition: all 200ms;

  &:hover {
    color: black;
    background-color: rgb(222, 224, 241);
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }  
}

.listing-agent-container {
  border-top: 1px solid rgb(202, 202, 255);
  padding-top: 1rem;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.hide {
  display: none;
}

// media queries
@media screen and (max-width: 990px) {
  .page-container {
    padding: 2rem 0;
  }

  .search-criteria-container {
    padding: 0 5rem;
  }
  
  .row-container {
    gap: 1.5rem;
  }

  .row-container-slider {
    gap: 0;
  }

  .search-field-container-double,
  .search-field-container-bedrooms {
    max-width: calc((100% - 3rem) / 3);
  }

  .listings-container {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 850px) {
  .row-container-checkbox {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.75rem;
    max-width: 28rem;
    margin: 2rem auto 2rem auto;
  }

  .checkbox-label {
    justify-content: right;
    min-width: 10.25rem;
  }
}

@media screen and (max-width: 810px) {
  .search-criteria-container {
    padding: 0 3.5rem;
  }

  .row-container-choices {
    flex-direction: column;

    .search-field-container {
      min-width: 100%;
    }
  }
  
  .search-field-container-double {
    max-width: calc((100% - 2rem) / 3);
  }

  .search-field-container-bedrooms {
    max-width: 100%;
    width: 100%;
  }
  
  .input-container-double {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-container-bedrooms {
    flex-direction: row;
  }
}

@media screen and (max-width: 650px) {
  .search-criteria-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 550px) {
  .row-container {
    flex-direction: column;
  }

  .row-container-checkbox {
    flex-direction: row;
  }

  .search-field-container {
    width: 100%;
  }

  .search-field-container-double {
    max-width: unset;
  }

  .input-container-double {
    flex-direction: row;
  }

  .row-container-slider {
    gap: 0.5rem;
    margin-bottom: 3rem;
  }

  .search-radius-slider {
    width: 22rem;
  }

  .btn-search {
    padding: 0.75rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 478px) {
  .search-radius-slider {
    width: 18.5rem;
  }

  .unknown-listings-title {
    font-size: 1.1rem;
  }

  .unknown-listings-subtitle {
    margin: 1.25rem 0 -1.25rem 0;
  }

  .row-container-checkbox {
    flex-direction: column;
    justify-content: left;
    gap: 0.75rem;
  }

  .checkbox-label {
    min-width: unset;
    width: 100%;
    max-width: 12rem;
    justify-content: space-between;
  }

  .search-label,
  .search-label-choices {
    margin: 0;
  }

  .search-input {
    height: 2.5rem;
  }
}
