
@keyframes grow-house {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  60% {
    transform: translateX(-50%) scale(1);
    opacity: 0.6;
  }
  70% {
    transform: translateX(-50%) scale(1.15);
    opacity: 0.7;
  }
  80% {
    transform: translateX(-50%) scale(1.215);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

@keyframes grow-house-features {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  80% {
    transform: scale(1.15);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes chimney-slide-down {
  0% {
    top: -8rem;
    opacity: 0;
  }
  100% {
    top: -6rem;
    opacity: 1;
  }
}

@keyframes for-sale-sign-slide-down {
  0% {
    top: -2rem;
    opacity: 0;
  }
  100% {
    top: 9.7rem;
    opacity: 1;
  }
}

@keyframes for-sale-sign-slide-down-mobile {
  0% {
    top: -2rem;
    opacity: 0;
  }
  100% {
    top: 9rem;
    opacity: 1;
  }
}

@keyframes roof {
  0% {
    opacity: 1;
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641;
  }
  10% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850;
  }
  20% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641;
  }
  30% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a;
  }
  40% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641;
  }
  50% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47;
  }
  60% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47,

    205px -15px 0 0 #a46c47,
    195px -15px 0 0 #9d6641,
    185px -15px 0 0 #a26a45,
    175px -15px 0 0 #9d6641,
    165px -15px 0 0 #a66d47,
    155px -15px 0 0 #9d6641,
    145px -15px 0 0 #9d6641,
    135px -15px 0 0 #9d6641,
    125px -15px 0 0 #9b633d,
    115px -15px 0 0 #9d6641,
    105px -15px 0 0 #9d6641,
    95px -15px 0 0 #a16741,
    85px -15px 0 0 #9d6641,
    75px -15px 0 0 #98623d,
    65px -15px 0 0 #9d6641,
    55px -15px 0 0 #955f3b,
    45px -15px 0 0 #9f6741,
    35px -15px 0 0 #935e3b,
    25px -15px 0 0 #9d6641,
    15px -15px 0 0 #9d6641,
    5px -15px 0 0 #9d6641;
  }
  70% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47,

    205px -15px 0 0 #a46c47,
    195px -15px 0 0 #9d6641,
    185px -15px 0 0 #a26a45,
    175px -15px 0 0 #9d6641,
    165px -15px 0 0 #a66d47,
    155px -15px 0 0 #9d6641,
    145px -15px 0 0 #9d6641,
    135px -15px 0 0 #9d6641,
    125px -15px 0 0 #9b633d,
    115px -15px 0 0 #9d6641,
    105px -15px 0 0 #9d6641,
    95px -15px 0 0 #a16741,
    85px -15px 0 0 #9d6641,
    75px -15px 0 0 #98623d,
    65px -15px 0 0 #9d6641,
    55px -15px 0 0 #955f3b,
    45px -15px 0 0 #9f6741,
    35px -15px 0 0 #935e3b,
    25px -15px 0 0 #9d6641,
    15px -15px 0 0 #9d6641,
    5px -15px 0 0 #9d6641,

    210px -10px 0 0 #8b5a39,
    200px -10px 0 0 #925d3a,
    190px -10px 0 0 #8b5734,
    180px -10px 0 0 #925d3a,
    170px -10px 0 0 #925d3a,
    160px -10px 0 0 #925d3a,
    150px -10px 0 0 #925d3a,
    140px -10px 0 0 #925d3a,
    130px -10px 0 0 #925d3a,
    120px -10px 0 0 #925d3a,
    110px -10px 0 0 #925d3a,
    100px -10px 0 0 #8d5a38,
    90px -10px 0 0 #925d3a,
    80px -10px 0 0 #875636,
    70px -10px 0 0 #925d3a,
    60px -10px 0 0 #8a5735,
    50px -10px 0 0 #925d3a,
    40px -10px 0 0 #8e5935,
    30px -10px 0 0 #925d3a,
    20px -10px 0 0 #925d3a,
    10px -10px 0 0 #895737;
  }
  80% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47,

    205px -15px 0 0 #a46c47,
    195px -15px 0 0 #9d6641,
    185px -15px 0 0 #a26a45,
    175px -15px 0 0 #9d6641,
    165px -15px 0 0 #a66d47,
    155px -15px 0 0 #9d6641,
    145px -15px 0 0 #9d6641,
    135px -15px 0 0 #9d6641,
    125px -15px 0 0 #9b633d,
    115px -15px 0 0 #9d6641,
    105px -15px 0 0 #9d6641,
    95px -15px 0 0 #a16741,
    85px -15px 0 0 #9d6641,
    75px -15px 0 0 #98623d,
    65px -15px 0 0 #9d6641,
    55px -15px 0 0 #955f3b,
    45px -15px 0 0 #9f6741,
    35px -15px 0 0 #935e3b,
    25px -15px 0 0 #9d6641,
    15px -15px 0 0 #9d6641,
    5px -15px 0 0 #9d6641,

    210px -10px 0 0 #8b5a39,
    200px -10px 0 0 #925d3a,
    190px -10px 0 0 #8b5734,
    180px -10px 0 0 #925d3a,
    170px -10px 0 0 #925d3a,
    160px -10px 0 0 #925d3a,
    150px -10px 0 0 #925d3a,
    140px -10px 0 0 #925d3a,
    130px -10px 0 0 #925d3a,
    120px -10px 0 0 #925d3a,
    110px -10px 0 0 #925d3a,
    100px -10px 0 0 #8d5a38,
    90px -10px 0 0 #925d3a,
    80px -10px 0 0 #875636,
    70px -10px 0 0 #925d3a,
    60px -10px 0 0 #8a5735,
    50px -10px 0 0 #925d3a,
    40px -10px 0 0 #8e5935,
    30px -10px 0 0 #925d3a,
    20px -10px 0 0 #925d3a,
    10px -10px 0 0 #895737,

    205px -4px 0 0 #9d6641,
    195px -4px 0 0 #9d6641,
    185px -4px 0 0 #a26840,
    175px -4px 0 0 #95603d,
    165px -4px 0 0 #935c38,
    155px -4px 0 0 #9d6641,
    145px -4px 0 0 #a96c44,
    135px -4px 0 0 #9d6641,
    125px -4px 0 0 #9d6641,
    115px -4px 0 0 #9d6641,
    105px -4px 0 0 #a56a42,
    95px -4px 0 0 #9d6641,
    85px -4px 0 0 #9d6641,
    75px -4px 0 0 #a1653d,
    65px -4px 0 0 #9d6641,
    55px -4px 0 0 #915e3c,
    45px -4px 0 0 #9d6641,
    35px -4px 0 0 #b77345,
    25px -4px 0 0 #9d6641,
    15px -4px 0 0 #9d6641,
    5px -4px 0 0 #9d6641;
  }
  90% {
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47,

    205px -15px 0 0 #a46c47,
    195px -15px 0 0 #9d6641,
    185px -15px 0 0 #a26a45,
    175px -15px 0 0 #9d6641,
    165px -15px 0 0 #a66d47,
    155px -15px 0 0 #9d6641,
    145px -15px 0 0 #9d6641,
    135px -15px 0 0 #9d6641,
    125px -15px 0 0 #9b633d,
    115px -15px 0 0 #9d6641,
    105px -15px 0 0 #9d6641,
    95px -15px 0 0 #a16741,
    85px -15px 0 0 #9d6641,
    75px -15px 0 0 #98623d,
    65px -15px 0 0 #9d6641,
    55px -15px 0 0 #955f3b,
    45px -15px 0 0 #9f6741,
    35px -15px 0 0 #935e3b,
    25px -15px 0 0 #9d6641,
    15px -15px 0 0 #9d6641,
    5px -15px 0 0 #9d6641,

    210px -10px 0 0 #8b5a39,
    200px -10px 0 0 #925d3a,
    190px -10px 0 0 #8b5734,
    180px -10px 0 0 #925d3a,
    170px -10px 0 0 #925d3a,
    160px -10px 0 0 #925d3a,
    150px -10px 0 0 #925d3a,
    140px -10px 0 0 #925d3a,
    130px -10px 0 0 #925d3a,
    120px -10px 0 0 #925d3a,
    110px -10px 0 0 #925d3a,
    100px -10px 0 0 #8d5a38,
    90px -10px 0 0 #925d3a,
    80px -10px 0 0 #875636,
    70px -10px 0 0 #925d3a,
    60px -10px 0 0 #8a5735,
    50px -10px 0 0 #925d3a,
    40px -10px 0 0 #8e5935,
    30px -10px 0 0 #925d3a,
    20px -10px 0 0 #925d3a,
    10px -10px 0 0 #895737,

    205px -4px 0 0 #9d6641,
    195px -4px 0 0 #9d6641,
    185px -4px 0 0 #a26840,
    175px -4px 0 0 #95603d,
    165px -4px 0 0 #935c38,
    155px -4px 0 0 #9d6641,
    145px -4px 0 0 #a96c44,
    135px -4px 0 0 #9d6641,
    125px -4px 0 0 #9d6641,
    115px -4px 0 0 #9d6641,
    105px -4px 0 0 #a56a42,
    95px -4px 0 0 #9d6641,
    85px -4px 0 0 #9d6641,
    75px -4px 0 0 #a1653d,
    65px -4px 0 0 #9d6641,
    55px -4px 0 0 #915e3c,
    45px -4px 0 0 #9d6641,
    35px -4px 0 0 #b77345,
    25px -4px 0 0 #9d6641,
    15px -4px 0 0 #9d6641,
    5px -4px 0 0 #9d6641,

    210px 0 0 0 #ba7c52,
    200px 0 0 0 #94613f,
    190px 0 0 0 #ae734c,
    180px 0 0 0 #a26943,
    170px 0 0 0 #ae734c,
    160px 0 0 0 #ae734c,
    150px 0 0 0 #ae734c,
    140px 0 0 0 #94613f,
    130px 0 0 0 #ae734c,
    120px 0 0 0 #ae734c,
    110px 0 0 0 #a86d46,
    100px 0 0 0 #ae734c,
    90px 0 0 0 #ae734c,
    80px 0 0 0 #94613f,
    70px 0 0 0 #ae734c,
    60px 0 0 0 #b7764b,
    50px 0 0 0 #ae734c,
    40px 0 0 0 #ae734c,
    30px 0 0 0 #94613f,
    20px 0 0 0 #ae734c,
    10px 0 0 0 #ae734c;
  }
  100% {
    opacity: 1;
    box-shadow:
    205px -46px 0 0 #9d6641,
    195px -46px 0 0 #9d6641,
    185px -46px 0 0 #8e5b39,
    175px -46px 0 0 #94613f,
    165px -46px 0 0 #9d6641,
    155px -46px 0 0 #9d6641,
    145px -46px 0 0 #9d6641,
    135px -46px 0 0 #94613f,
    125px -46px 0 0 #8f5c3a,
    115px -46px 0 0 #9d6641,
    105px -46px 0 0 #9d6641,
    95px -46px 0 0 #9d6641,
    85px -46px 0 0 #9d6641,
    75px -46px 0 0 #9d6641,
    65px -46px 0 0 #94613f,
    55px -46px 0 0 #9d6641,
    45px -46px 0 0 #9d6641,
    35px -46px 0 0 #9d6641,
    25px -46px 0 0 #9d6641,
    15px -46px 0 0 #94613f,
    5px -46px 0 0 #9d6641,

    210px -40px 0 0 #835639,
    200px -40px 0 0 #a86e47,
    190px -40px 0 0 #835639,
    180px -40px 0 0 #b57850,
    170px -40px 0 0 #a86e47,
    160px -40px 0 0 #ab714a,
    150px -40px 0 0 #a86e47,
    140px -40px 0 0 #b57850,
    130px -40px 0 0 #a86e47,
    120px -40px 0 0 #a86e47,
    110px -40px 0 0 #a86e47,
    100px -40px 0 0 #b57850,
    90px -40px 0 0 #a86e47,
    80px -40px 0 0 #a86e47,
    70px -40px 0 0 #a86e47,
    60px -40px 0 0 #a86e47,
    50px -40px 0 0 #a86e47,
    40px -40px 0 0 #835639,
    30px -40px 0 0 #835639,
    20px -40px 0 0 #a86e47,
    10px -40px 0 0 #b57850,

    205px -35px 0 0 #94613f,
    195px -35px 0 0 #9d6641,
    185px -35px 0 0 #9d6641,
    175px -35px 0 0 #94613f,
    165px -35px 0 0 #9d6641,
    155px -35px 0 0 #9d6641,
    145px -35px 0 0 #9d6641,
    135px -35px 0 0 #94613f,
    125px -35px 0 0 #9d6641,
    115px -35px 0 0 #9d6641,
    105px -35px 0 0 #9d6641,
    95px -35px 0 0 #9d6641,
    85px -35px 0 0 #9d6641,
    75px -35px 0 0 #b8784e,
    65px -35px 0 0 #9d6641,
    55px -35px 0 0 #94613f,
    45px -35px 0 0 #9d6641,
    35px -35px 0 0 #b8784e,
    25px -35px 0 0 #94613f,
    15px -35px 0 0 #9d6641,
    5px -35px 0 0 #9d6641,

    210px -30px 0 0 #835639,
    200px -30px 0 0 #925d3a,
    190px -30px 0 0 #925d3a,
    180px -30px 0 0 #835639,
    170px -30px 0 0 #925d3a,
    160px -30px 0 0 #925d3a,
    150px -30px 0 0 #925d3a,
    140px -30px 0 0 #a4673e,
    130px -30px 0 0 #925d3a,
    120px -30px 0 0 #925d3a,
    110px -30px 0 0 #835639,
    100px -30px 0 0 #925d3a,
    90px -30px 0 0 #925d3a,
    80px -30px 0 0 #925d3a,
    70px -30px 0 0 #925d3a,
    60px -30px 0 0 #925d3a,
    50px -30px 0 0 #b8784e,
    40px -30px 0 0 #925d3a,
    30px -30px 0 0 #b8784e,
    20px -30px 0 0 #835639,
    10px -30px 0 0 #925d3a,

    205px -25px 0 0 #9d6641,
    195px -25px 0 0 #8e5937,
    185px -25px 0 0 #9d6641,
    175px -25px 0 0 #b8784e,
    165px -25px 0 0 #9d6641,
    155px -25px 0 0 #9c643e,
    145px -25px 0 0 #9d6641,
    135px -25px 0 0 #9d6641,
    125px -25px 0 0 #9d6641,
    115px -25px 0 0 #9d6641,
    105px -25px 0 0 #9d6641,
    95px -25px 0 0 #9d6641,
    85px -25px 0 0 #99623d,
    75px -25px 0 0 #95613e,
    65px -25px 0 0 #8e5a37,
    55px -25px 0 0 #9d6641,
    45px -25px 0 0 #9d6641,
    35px -25px 0 0 #8f5935,
    25px -25px 0 0 #b8784e,
    15px -25px 0 0 #9d6641,
    5px -25px 0 0 #9d6641,

    210px -20px 0 0 #b17750,
    200px -20px 0 0 #a36c47,
    190px -20px 0 0 #ac7149,
    180px -20px 0 0 #ae6f45,
    170px -20px 0 0 #a36f4c,
    160px -20px 0 0 #ae754e,
    150px -20px 0 0 #8e5e3e,
    140px -20px 0 0 #b8784e,
    130px -20px 0 0 #b4754b,
    120px -20px 0 0 #916142,
    110px -20px 0 0 #af744c,
    100px -20px 0 0 #b17750,
    90px -20px 0 0 #a36c47,
    80px -20px 0 0 #b17750,
    70px -20px 0 0 #a36c47,
    60px -20px 0 0 #a36c47,
    50px -20px 0 0 #b17750,
    40px -20px 0 0 #b17750,
    30px -20px 0 0 #a36c47,
    20px -20px 0 0 #af724a,
    10px -20px 0 0 #a36c47,

    205px -15px 0 0 #a46c47,
    195px -15px 0 0 #9d6641,
    185px -15px 0 0 #a26a45,
    175px -15px 0 0 #9d6641,
    165px -15px 0 0 #a66d47,
    155px -15px 0 0 #9d6641,
    145px -15px 0 0 #9d6641,
    135px -15px 0 0 #9d6641,
    125px -15px 0 0 #9b633d,
    115px -15px 0 0 #9d6641,
    105px -15px 0 0 #9d6641,
    95px -15px 0 0 #a16741,
    85px -15px 0 0 #9d6641,
    75px -15px 0 0 #98623d,
    65px -15px 0 0 #9d6641,
    55px -15px 0 0 #955f3b,
    45px -15px 0 0 #9f6741,
    35px -15px 0 0 #935e3b,
    25px -15px 0 0 #9d6641,
    15px -15px 0 0 #9d6641,
    5px -15px 0 0 #9d6641,

    210px -10px 0 0 #8b5a39,
    200px -10px 0 0 #925d3a,
    190px -10px 0 0 #8b5734,
    180px -10px 0 0 #925d3a,
    170px -10px 0 0 #925d3a,
    160px -10px 0 0 #925d3a,
    150px -10px 0 0 #925d3a,
    140px -10px 0 0 #925d3a,
    130px -10px 0 0 #925d3a,
    120px -10px 0 0 #925d3a,
    110px -10px 0 0 #925d3a,
    100px -10px 0 0 #8d5a38,
    90px -10px 0 0 #925d3a,
    80px -10px 0 0 #875636,
    70px -10px 0 0 #925d3a,
    60px -10px 0 0 #8a5735,
    50px -10px 0 0 #925d3a,
    40px -10px 0 0 #8e5935,
    30px -10px 0 0 #925d3a,
    20px -10px 0 0 #925d3a,
    10px -10px 0 0 #895737,

    205px -4px 0 0 #9d6641,
    195px -4px 0 0 #9d6641,
    185px -4px 0 0 #a26840,
    175px -4px 0 0 #95603d,
    165px -4px 0 0 #935c38,
    155px -4px 0 0 #9d6641,
    145px -4px 0 0 #a96c44,
    135px -4px 0 0 #9d6641,
    125px -4px 0 0 #9d6641,
    115px -4px 0 0 #9d6641,
    105px -4px 0 0 #a56a42,
    95px -4px 0 0 #9d6641,
    85px -4px 0 0 #9d6641,
    75px -4px 0 0 #a1653d,
    65px -4px 0 0 #9d6641,
    55px -4px 0 0 #915e3c,
    45px -4px 0 0 #9d6641,
    35px -4px 0 0 #b77345,
    25px -4px 0 0 #9d6641,
    15px -4px 0 0 #9d6641,
    5px -4px 0 0 #9d6641,

    210px 0 0 0 #ba7c52,
    200px 0 0 0 #94613f,
    190px 0 0 0 #ae734c,
    180px 0 0 0 #a26943,
    170px 0 0 0 #ae734c,
    160px 0 0 0 #ae734c,
    150px 0 0 0 #ae734c,
    140px 0 0 0 #94613f,
    130px 0 0 0 #ae734c,
    120px 0 0 0 #ae734c,
    110px 0 0 0 #a86d46,
    100px 0 0 0 #ae734c,
    90px 0 0 0 #ae734c,
    80px 0 0 0 #94613f,
    70px 0 0 0 #ae734c,
    60px 0 0 0 #b7764b,
    50px 0 0 0 #ae734c,
    40px 0 0 0 #ae734c,
    30px 0 0 0 #94613f,
    20px 0 0 0 #ae734c,
    10px 0 0 0 #ae734c;
  }
}
