.search-results-container {
  background-color: rgb(250, 245, 225);
  border-radius: 0.6rem;
  padding: 2rem;
  margin: 0 1.5rem 8rem 1.5rem;
  box-shadow: 0 0.25rem 1.2rem 0.15rem #8787874d;
  margin-top: 3rem;
}

.listings-title-container {
  display: flex;
  align-items: center;
}

.listings-title {
  font-size: 1rem;
}

.listings-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  min-height: 25rem;
  margin-top: 2rem;
}

.no-listings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 30rem;
  padding: 2.5rem;
}

.no-listings-found {
  font-size: 1.4rem;
  text-align: center;
}

.btn-scroll {
  font-size: 1.25rem;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all ease 200ms;
  -webkit-transition: all ease 200ms;

  &:hover {
    color: rgb(0, 114, 176);
    transition: all ease 200ms;
    -webkit-transition: all ease 200ms;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.listing-container {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 29rem;
  color: #222427;
  background-color: rgb(253, 253, 252);
  border-radius: 0.6rem;
  box-shadow: 0 0.25rem 1rem #a4a4a44d;
  overflow: hidden;
}

.listing-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  flex: 1;
  width: 100%;
  min-height: 17rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.listing-image {
  width: 100%;
  min-height: 15.25rem;
  max-height: calc(100% - 2rem);
  object-fit: cover;
  margin: 0 auto;
}

.img-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.4rem;
  color: #0a1064;
  height: 100%;
  width: 1.5rem;
  top: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  overflow: hidden;
  
  &:hover {
    color: #9590d1;
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.img-arrow-left {
  left: 0.5rem;

  span {
    transform: rotate(180deg);
  }
}

.img-arrow-right {
  right: 0.5rem;
}

.listing-image-control-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  height: 2rem;
  background-color: eee;
}

.listing-image-circle {
  font-size: 2rem;
  color: #0a1064;
  width: 1rem;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  cursor: pointer;
}

.listing-image-circle-current {
  color: #1a75ff;
  font-size: 2.75rem;
  transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  margin-top: auto;
}

.listing-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  gap: 0.5rem;
}

.listing-bedrooms,
.listing-rooms,
.listing-house-size,
.listing-plot-size,
.listing-location,
.listing-ref {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.listing-type {
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0;
}

.listing-price {
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 0 0 auto;
}

.divider {
  padding-left: 0.5rem;
}

.listing-icons-container {
  gap: 0.5rem 1.25rem;
}

.listing-icon-container {
  display: flex;
  gap: 0.5rem;
}

.listing-icon {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain; 
}

.listing-location {
  color: rgb(98, 98, 98);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
}

.listing-link-container {
  font-weight: 600;
  text-align: center;
  text-transform: none;
  padding-top: 0.25rem;
  margin: auto auto 0 auto;
}

.listing-link-container {
  position: relative;
  display: inline-block;

  &:hover .listing-link {
    width: 100%;
  }
}

.listing-link {
  position: absolute;
  display: inline-block;
  width: 0;
  white-space: pre;
  overflow: hidden;
  transition: width 500ms;
  border-bottom: 1px solid #9590d1;
}

.listing-link-default {
  color: #222427;
  text-decoration: none;

  &:hover {
    color: #222427;
    text-decoration: none;
  }
}

.listing-link-hover {
  color: #6f6ca8;
  text-decoration: none;

  &:hover {
    color: #6f6ca8;
    text-decoration: none;
  }
}

.listing-agent-container {
  justify-content: space-between;
}

.listing-agent {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.listing-ref {
  font-weight: 500;
}

.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;

  .pagination {
    margin: 0;
  }
}
