.search-results-container {
  background-color: rgb(250, 245, 225);
  border-radius: 0.6rem;
  padding: 2rem;
  margin: 0 1.5rem 8rem 1.5rem;
  box-shadow: 0 0.25rem 1.2rem 0.15rem #8787874d;
  margin-top: 3rem;
}

.listings-title-container {
  display: flex;
  align-items: center;
}

.listings-title {
  font-size: 1rem;
}

.no-listings-found {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.listings-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  min-height: 25rem;
  margin-top: 2rem;
}

.listing-container {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 40rem;
  background-color: rgb(250, 246, 235);
  border-radius: 0.6rem;
  box-shadow: 0 0.25rem 1.2rem #8787874d;
  overflow: hidden;
}

.listing-image-container {
  position: relative;
  // ensure the alt is displayed in the center of the img
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 10rem;
  max-height: 19rem;
  background-color: rgba(222, 224, 241, 0.5);
  box-shadow: 0 2px 12px rgba(135, 135, 135, 0.1);
  overflow: hidden;
}

.listing-image {
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.img-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.4rem;
  height: 100%;
  width: 1.5rem;
  background-color: rgba(222, 224, 241, 0.6);
  top: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  overflow: hidden;
  
  &:hover {
    width: 35px;
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }
}

.img-arrow-left {
  left: 0;

  span {
    transform: rotate(180deg);
  }
}

.img-arrow-right {
  right: 0;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 1rem;
}

.listing-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.75rem;

  h5 {
    font-size: 1rem;
    margin: 0;
  }
}

.divider {
  padding-left: 0.5rem;
}

.listing-icons-container {
  gap: 0.5rem 1.25rem;
}

.listing-icon-container {
  display: flex;
  gap: 0.5rem;
}

.listing-icon {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain; 
}

.listing-description-row {
  align-items: flex-start;
  height: 100%;
}

.listing-location {
  text-transform: capitalize;
}

// .btn-listing-description-see-more {
//   font-weight: bold;
//   background-color: transparent;
//   outline: none;
//   border: none;
//   transition: all 200ms;
//   -webkit-transition: all 200ms;

//   &:hover {
//     color: rgb(79, 54, 109);
//     transition: all 200ms;
//     -webkit-transition: all 200ms;
//   }
// }

.listing-link {
  color: black;
  background-color: rgb(239, 241, 255);
  outline: none;
  font-weight: bold;
  text-decoration: underline;
  border: none;
  text-align: center;
  padding: 0.25rem 0;
  transition: all 200ms;
  -webkit-transition: all 200ms;

  &:hover {
    color: black;
    background-color: rgb(222, 224, 241);
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }  
}

.listing-agent-container {
  border-top: 1px solid rgb(202, 202, 255);
  padding-top: 1rem;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;

  .pagination {
    margin: 0;
  }
}
