@media screen and (max-width: 1200px) {
  .search-form-container {
    width: 88%;
  }

  .advanced-search-btn-container {
    width: 100%;
    padding: 0;
  }

  .btn-advanced-search {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1075px) {
  .search-form-container {
    padding: 2.5rem 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .checkbox-container {
    max-width: 38rem;
  }
  
  .rw-multiselect {
    min-width: unset;
    max-width: unset;
  }

  .search-label-long.search-label-multiselect {
    width: 100%;
    
    .rw-multiselect {
      min-width: unset;
      min-width: 20rem;
      width: 100%;
    }
  }

  .search-label-multiselect {
    flex: 1;
  }
}

@media screen and (max-width: 920px) {
  .search-form-container {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 853px) {
  .hero-section-title {
    font-size: 2.75rem;
  }

  .search-form-container {
    flex-direction: row;
    gap: 0.5rem;
    width: 80%;
    padding: 2.5rem 5rem;
  }

  .search-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    min-width: 28rem;
  }

  .search-input-container {
    gap: 1rem;
    margin: 0;
  }

  .search-input {
    width: 7.5rem;
  }

  .search-textarea {
    min-width: unset;
  }

  .search-label-long,
  .search-label-multiselect {
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;

    .search-input-container {
      min-width: 100%;

      .search-input {
        width: 100%;
      }
    }

    .rw-popup-container {
      min-width: unset;
    }

    .rw-multiselect {
      min-width: unset;
      max-width: unset;
      width: 100%;
    
      .rw-multiselect-taglist {
        max-width: unset;
      }
    }
  }

  .search-dropdown-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 28rem;
  }

  .search-dropdown-input {
    width: 16rem;
  }

  .rw-multiselect {
    min-width: 100%;
    max-width: 100%;
  }

  .advanced-search-btn-container {
    margin: 1rem 0 0.5rem 0;
  }

  .btn-advanced-search {
    justify-content: center;
    width: 13rem;
    border-top: 1px solid rgb(199, 199, 219);
    border-bottom: 1px solid rgb(199, 199, 219);
    box-shadow: 0 0 0.2rem 0 rgb(186, 186, 222);
  }

  // re-order the fields so the dropdowns don't overhang the container too much
  .advanced-search-container {
    margin: 1rem 0 1.5rem 0;
    // :nth-child(1),
    // :nth-child(2),
    // :nth-child(3) { 
    //   order: 2;
    // }

    // :nth-child(4) { 
    //   order: 1;
    // }
    
    // :nth-child(6) { 
    //   order: 3; 
    // }
        
    // :nth-child(7) {
    //   order: 4;
    // }

    // :nth-child(5),
    // :nth-child(8) { 
    //   order: 5; 
    // }
  }

  .checkbox-container {
    max-width: unset;
  }

  .listing-container {
    width: 25rem;
    height: fit-content;
  }
}

@media screen and (max-width: 700px) {
  .hero-section-title {
    font-size: 3rem;
    max-width: 22rem;
    margin: 5rem auto 0.5rem auto;
  }

  .search-form-container {
    gap: 1rem;
    padding: 2.5rem 3rem;
  }

  .search-label,
  .search-dropdown-container {
    font-size: 1.1rem;
    flex-direction: column;
    min-width: 100%;
  }

  .search-input {
    width: calc(50% - 0.5rem);
  }

  .search-dropdown-input {
    width: 100%;
  }
  
  .search-dropdown-options {
    left: 50%;
    transform: translateX(-50%);
  }

  .search-radius-slider {
    width: 22rem;
  }

  .include-unknown-container {
    margin: 1rem 0 0.5rem 0;
  }

  .unknown-listings-title {
    white-space: unset;
  }

  .unknown-listings-subtitle {
    margin: 1.75rem 0 0.5rem 0;
  }
}

@media screen and (max-width: 630px) {
  .listings-title-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .sorting-dropdown-container {
    margin: 0;
  }

  .search-label-long.search-label-multiselect {
    .rw-multiselect {
      min-width: 10rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .search-form-container {
    width: 88%;
  }
}

@media screen and (max-width: 478px) {
  .loading-screen-container {
    padding: 1rem;
  }

  .search-radius-slider {
    width: 20rem;
  }

  .search-results-container {
    border-radius: 0;
    margin: 3rem 0 0 0;
    padding: 2rem 1rem;
  }

  .img-arrow {    
    &:hover {
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 440px) {
  .search-form-container {
    padding: 2.5rem 2rem;
  }

  .search-input-container {
    gap: 0.5rem;
  }

  .search-input {
    width: calc(50% - 0.25rem);
  }

  .btn-advanced-search {
    width: 12rem;
  }
  
  .search-radius-slider {
    width: 18rem;
  }
}

@media screen and (max-width: 370px) {
  .loading-screen-container {
    padding: 0;
  }

  .loading-circle-container {
    position: relative;
    width: 18rem;
    height: 18rem;
  }

  .for-sale-sign {
    &::before {
      width: 2.3rem;
      font-size: 0.75rem;
    }
  
    &::after {
      width: 3.15rem;
    }
  }

  .search-radius-slider {
    width: 17rem;
  }
}
