*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

i {
  font-family: unset;
}

.page-container {
  position: relative;
  background-color: rgb(255, 251, 240);
  // max-width: 80rem;
  // margin: 1rem auto 5rem auto;
  margin: 0 auto;
}
