*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

i {
  font-family: unset;
}

.page-container {
  position: relative;
  background-color: #fffbf0;
  margin: 0 auto;
}
