.page-title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.search-criteria-container {
  margin: 2rem auto;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.row-container-slider {
  flex-direction: column;
  gap: 0;
}

.search-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-weight: 500;
}

// remove the flex gap before dividing
.search-field-container-double,
.search-field-container-bedrooms {
  max-width: calc((100% - 4rem) / 3);
}

.choices-container {
  display: flex;
  flex-direction: column;
  gap: 0 2rem;
  width: 100%;
  height: 100%;
}

.search-label,
.search-label-choices {
  display: block;
  font-weight: 500;
  width: 100%;
}

.input-container {
  display: flex;
  gap: 0 1rem;
  width: 100%;
  margin-top: 0.5rem;

  .choices {
    width: 100%;
  }

  .choices__list {
    z-index: 5;
  }

  .choices__inner {
    background-color: white;
  }

  .choices__item {
    font-size: 0.9rem;
    text-transform: capitalize;
    z-index: 10;
  }
  
  .choices__input {
    font-size: 1.15rem;
    background-color: white;
    min-width: fit-content;
  }
}

.search-input {
  width: 100%;
  height: 53px;
  background-color: white;
  border: 1px solid rgb(214, 212, 180);
  border-radius: 4px;
  font-size: 1.15rem;
  outline: none;
  padding-left: 0.75rem;
}

.input-choices-loading {
  margin-top: 0.5rem;
}

.unknown-listings-title {
  font-size: 1.25rem;
  text-align: center;
}

.unknown-listings-subtitle {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0 -1.5rem 0;
}

.checkbox-label {
  display: flex;
  cursor: pointer;

  input[type="checkbox"] {
    width: 1.2rem;
    margin-left: 0.75rem;
    accent-color: rgb(67, 208, 168);
    cursor: pointer;
  }
}

.btn-search {
  display: block;
  font-size: 1.25rem;
  background-color: rgb(67, 208, 168);
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.75rem 5rem;
  margin: 0 auto;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  
  &:hover {
    background-color: rgb(29, 186, 141);
    transition: all 200ms;
    -webkit-transition: all 200ms;
  }

  &:active {
    outline: none;
  }
}

.search-radius-slider {
  position: relative;
  display: flex;
  width: 30rem;
  height: 3rem;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: calc(100% * (5 / 6)); // remove width of one 'option'
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(15, 15, 15);
  }
}
  
.input-slider {
  display: none;
  cursor: pointer;

  &:checked {
    + label::before {
      font-weight: 700;
    }
    + label::after {
      border-width: 3px;
      transform: translate(-50%, -50%) scale(0.85);
    }
  
    @for $i from 1 through 5 {
      &:nth-child(#{$i * 2 - 1}) ~ .slider-cirle {
        left: #{($i * 20%) - 10%};
      }
    }
  }
}

.label-slider {
  position: relative;
  flex: 1;
  height: 100%;
  cursor: pointer;

  &::before {
    content: attr(search-radius);
    position: absolute;
    font-size: 1rem;
    left: 50%;
    white-space: nowrap;
    transition: all 0.15s ease-in-out;
    padding-top: 0.25rem;
  }
  
  &::after {
    content: "";
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    background-color: white;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(1.15);
    transition: all 0.15s ease-in-out;
  }
}

.slider-cirle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgb(17, 112, 85);
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease-in-out;
  z-index: 2;
}

.input-slider {
  + .label-slider::before {
    transform: translate(-50%, 2.5rem) scale(0.9);
    transition: all 0.15s linear;
  }
}
